@model IEnumerable<VoterAnalysis2.Models.Voter>

@{
    ViewData["Title"] = "AssignVoterScore";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Assign Voter Score</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
           
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Suffix)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VoterStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PartyAffliation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResidentialAddress1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResidentialSecondaryAddr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResidentialCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResidentialState)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResidentialZip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecinctName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecinctCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ward)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Primary2010)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.General2010)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Primary2012)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.General2012)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Primary2014)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.General2014)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Primary2016)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.General2016)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Primary2018)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.General2018)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Primary2020)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.General2020)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Suffix)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VoterStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PartyAffliation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResidentialAddress1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResidentialSecondaryAddr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResidentialCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResidentialState)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResidentialZip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecinctName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecinctCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ward)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Primary2010)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.General2010)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Primary2012)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.General2012)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Primary2014)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.General2014)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Primary2016)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.General2016)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Primary2018)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.General2018)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Primary2020)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.General2020)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
