@model IEnumerable<VoterAnalysis2.Models.PrecinctAssigned>

@{
    ViewData["Title"] = "SeePrecinctsAssigned";
}

<h1>SeePrecinctsAssigned</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Precinct)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CampaignManagerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StaffId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Precinct)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CampaignManagerId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StaffId)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>